@import url("https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}

header nav {
  flex-wrap: wrap;
  padding: 20px;
  background: rgb(195, 117, 151);
  background: radial-gradient(circle, rgb(195, 117, 151) 21%, rgb(233, 156, 148) 55%, rgb(233, 148, 170) 95%);
}
header nav ul li {
  list-style: none;
  justify-content: center;
}
header nav ul li a {
  font-family: "Borel", cursive !important;
  color: black;
  font-size: 30px;
  text-decoration: none;
  padding: 20px;
}

.carousel-inner img {
  width: auto;
  height: 500px;
}

h3 {
  font-family: "Borel", cursive;
  margin: 20px;
}

h1 {
  color: blueviolet;
  font-size: 40px;
}

.flex-container {
  display: flex;
}
.flex-container img {
  width: 250px;
  height: auto;
  border-radius: 50px;
  margin: 50px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Borel", cursive;
  text-align: center;
  position: relative;
  padding: 20px;
}
footer h5 {
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
footer img {
  width: 50px;
  height: 50px;
  position: absolute;
}
footer .position-fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
  background-color: green;
  border-radius: 50%;
}

#logowhatssap:hover {
  transition: all 1s;
  transform: rotate(360deg);
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}

body {
  background-image: url(../imagenes/body3.jpg);
  background-size: 100%;
}

#logoempresa {
  border-radius: 100px;
  position: relative;
  right: 500px;
}

#texto-logo {
  display: flex;
  position: relative;
  font-size: 20px;
  border: none;
  left: 150px;
  bottom: 200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#mapa {
  display: flex;
  position: relative;
  bottom: 200px;
  right: 400px;
  transition: all 2s;
}

#mapa:hover {
  transform: translateY(100px);
}

#texto-mapa {
  display: flex;
  position: relative;
  left: 200px;
  font-family: "Borel", cursive;
  transition: all 1s;
}

#texto-mapa:hover {
  transform: translateY(60px);
}

h4 {
  font-family: "Borel", cursive;
  font-size: 20px;
  position: relative;
  bottom: 50px;
}

.gallery-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-rows: 150px;
}
.gallery-container .image {
  width: 200px;
  height: 200px;
  margin: 20px;
  object-fit: cover;
  border: 2px solid turquoise;
  border-radius: 20px;
}
.gallery-container #gallery {
  transition: all 1sg;
}
.gallery-container #gallery:hover {
  transform: translatey(60px);
}

.flex-container2 {
  display: flex;
  margin: 100px;
}
.flex-container2 .card {
  margin: 20px;
}
.flex-container2 .card img {
  height: 200px;
}
.flex-container2 a {
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex-container2 p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.flex-container3 {
  display: flex;
}
.flex-container3 form {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 20px;
}
.flex-container3 form label {
  margin: 10px;
  font-family: "Borel", cursive;
  font-size: 20px;
}
.flex-container3 form select {
  font-family: "Borel", cursive;
}
.flex-container3 form option {
  font-family: "Borel", cursive;
}
.flex-container3 form input {
  font-family: "Borel", cursive;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
}

@media (max-width: 600px) {
  #header #navbar {
    width: auto;
  }
  #carouselExampleCaptions {
    width: 300px;
    height: 50px;
    margin-top: 70px;
    margin-bottom: 1px;
    margin-left: 35px;
  }
  #img-carrousel {
    height: 250px;
  }
  h3 {
    font-size: 16px;
    margin: 10px;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h5 {
    font-size: 10px;
  }
  footer h6 {
    font-size: 10px;
  }
  #logowhatssap {
    height: 50px;
    width: 50px;
  }
  #logoempresa {
    display: flex;
    width: 200px;
    height: 200px;
    position: relative;
    left: 1px;
  }
  h2 {
    font-size: 20px;
  }
  #texto-logo {
    font-size: 15px;
    position: relative;
    right: 300px;
    left: 0;
    top: 40px;
  }
  #texto-mapa {
    left: 4px;
    font-size: 20px;
    margin: 50px;
  }
  #mapa {
    right: 0px;
    height: 150px;
    width: 250px;
    bottom: 20px;
  }
  h4 {
    font-size: 20px;
    bottom: 0px;
  }
  #video {
    height: 200px;
    width: 300px;
  }
  .gallery-container .image {
    width: 100px;
    height: 100px;
  }
  #gallery {
    transition: all 1sg;
  }
  #gallery:hover {
    transform: translatey(40px);
  }
  .flex-container2 {
    margin: 1px;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
