.img-carrousel{
    height: 500px;
}
h3{
    font-family: 'Borel', cursive;
    color: coral;
    border: 2px double violet;
    border-radius: 30px;
    background-color: rgb(235, 228, 226);
    margin: 40px;
}