*{
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}
body{
    background-image: url(../imagenes/body3.jpg);
    background-size: 100%;
}